div(class="containerColumn leftSide")
	h1 #{user.username}

	div(style="width:300px; background-color:rgba(114,114,114,0.3)") 
		#{user.first_name} #{user.last_name} User id: #{user.id}
		input(type='hidden', id='userId', value='#{user.id}')
	h3 My Posts
	div(class="postsContainer")
		each post in user.posts
			div(class="post") 
				p #{post.updated_at}
				p #{post.message}

div(class="containerColumn rightSide")
	h1(style="margin-bottom:85px;") Storitter Wall

	div(id="wall",class="postsContainer")
		each post in user.followings_posts
			div(class="post")
				p User id:#{post.user_id}  #{post.updated_at}
				p #{post.message}